<vg-player>
  <a-scene>
    <!--<a-scene info-message="htmlSrc: #messageText">-->
    <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
    <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
    <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
    <a-sky color="#ECECEC"></a-sky>

    <!--************************************************-->
    <!--
    <a-assets>
      <a-asset-item id="tree" src="../../assets/gltf/hangar/hangar.gltf"></a-asset-item>
      <a-asset-item id="tree" src="https://github.com/oscarmauriciogiraldo/Gala-Aframe/blob/main/gltf/hangar/hangar.gltf"></a-asset-item>
    </a-assets>-->
    <!--modelo 3d
    <a-entity gltf-model="#tree"></a-entity>-->
    <!--cuadro de mensaje
    <a-asset-item id="messageText" src="message.html"></a-asset-item>

    <a-entity id="player" collider-check>
        <a-entity raycaster="objects: .gltf" position="0 -0.9 0" rotation="90 0 0"></a-entity>
    </a-entity>-->
    <!--
    <a-entity class="gltf" geometry="primitive: box" position="1 0 0"></a-entity>
    -->
  </a-scene>
</vg-player>
